.result img {
    max-width: 15vw;
    max-height: 15vw;
    position: absolute;
    top: 3vw;
    left: 10vw;
    z-index: 1;
    border-radius:7.5vw;
    opacity: 0.9;
    box-shadow: 0.5vw 0.5vw 1vw rgba(0.5, 0.5, 0.5, 0.5);
}

.result {
    width: 100%;
    height: 100vh;
    background-image: url("/background.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.result-board {
    display: block;
    position: absolute;
    left: 15vw;
    top: 10vw;
    width: 70vw;
    height: calc(100vh - 15vw);
    border-radius: 2vw;
    background-image: url("/background_blur.jpg");
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0.5vw 0.5vw 1vw rgba(0.5, 0.5, 0.5, 0.1);
}

/* .result-board canvas {
    padding: 3vw;
    padding-left: 5vw;
} */