img {
    max-width:20rem;
    max-height: 20rem;
    position:relative;
    top: 8rem;
    left: -9rem;
    z-index: 1;
    border-radius:10rem;
    opacity: 0.9;
}
/* 在div中使用了.result 会产生神奇的白边 
*/
body {
    background-image: url("./bg_1.jpg");
    background-size: cover;
    background-position: center;
}